:root{
    --bodybackground : #111111;
    --main-color: #f6b608;
  }
header{
    background-color: white;
    z-index: 999;
    padding: 1rem 8rem 0 8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.logo img{
    height: 4rem;
}
li{
    list-style: none;
    padding-top: 1.5rem;
}
.nav__items {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
    font-size: 1.1rem;
}
.nav__item{
    font-size: 1.4rem;
}
